/* .box-bottom {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    height: 200px;
}

.box1-bottom {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    height: 50px;
} */

.box-top {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    height: 200px;
}

.box1-top {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    height: 50px;
}

.container {
    border:2px solid #ccc;
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
    width:280px;
}

.container1 {
    border:2px solid #ccc;
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
    width:400px;
}

.search-box {
    width: 300px;
}

.ui-autocomplete {
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 300px;
}
