.ui-autocomplete {
    height: 200px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.container {
    border:2px solid #ccc;
    width:400px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.container_top {
    border:2px solid #ccc;
    width:280px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.box {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    column-gap: 20px;
}

.box1 {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    column-gap: 20px;
}

.box1_top {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    column-gap: 20px;
}

#title {
    width: 300px;
}
