<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <head>
        <style>
            .ui-autocomplete { height: 200px; width: 300px; overflow-y: scroll; overflow-x: scroll; }
            #title { width: 300px; }
            .container { border:2px solid #ccc; width:400px; height: 200px; overflow-y: scroll; overflow-x: scroll; }
            .box {
                display: grid;
                height: 200px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 100px;
                column-gap: 20px;
            }
            .box1 {
                display: grid;
                height: 50px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 100px;
                column-gap: 20px;
            }
        </style>
        <meta charset="utf-8">
        <title>NetflixPrize3!</title>

        <!-- The following script defines parameters for the autocomplete -->
        <script type="text/javascript">
            var arr = {{ titles|safe }};
            $(function() {
                $("#title").autocomplete({
                    source: arr,
                    minLength: 4,
                    autoFocus: true,
                    classes: {
                        "ui-autocomplete": "highlight"
                    },
                });
            });
        </script>

        <script>
            function movie_link() {
                var t = {{ movieData | safe }}["tconst"]
                text = "<a href=\"https://www.imdb.com/title/" + t +
                        "\" target=\"_blank\">Details of recommended movie</a>";
                document.getElementById("link").innerHTML = text;
            }
            function feature_box(key,div_id) {
                var feat = {{ movieData | safe }}[key];
                var i;
                var text = document.getElementById(div_id).innerHTML;
                for(i = 0; i < feat.length; i++){
                    text = text + "<input type=\"checkbox\" name=\"" + key
                            + "\" value=\"" + key.charAt(0)
                            + "_" + feat[i] + "\">" + feat[i] + "<br>";
                }
                document.getElementById(div_id).innerHTML = text;
            }
            function feature_boolean(div_id) {
                var text = document.getElementById(div_id).innerHTML
                fieldName = div_id == "year" ? "startYear" : "averageRating";
                text = text + "<input type=\"radio\" name=\"" + div_id + "\" value="
                 + {{ movieData | safe }}[fieldName] + " checked" + ">Yes<br>"
                text = text + "<input type=\"radio\" name=\"" + div_id +
                        "\" value=\"no" + "\">No<br>"
                document.getElementById(div_id).innerHTML = text;
            }
        </script>

        <!-- The following script is for submitting a title -->
        <!-- <script type="text/javascript">
        function post(){
            var title = document.getElementById("title").value;
            if(title){
                $.ajax
                ({
                    type: 'post',
                    url: 'fetchFeatures/',
                    data:
                    {
                        movie_title:title
                    },
                    success: function (response)
                    {
                        document.getElementById("features").innerHTML=directors
                    }
                })
            }
        }
        </script> -->

    </head>
    <body>
        <h1><center>Welcome to NetflixPrize3!</center></h1>
        {% comment %} <div class="ui-widget">
            <label for="search"> Search(Press 'Enter' to search) </label>
            <!-- onsubmit="return post();"  -->
            <form method="post" action="/fetchFeatures">
                {% csrf_token %}
                <input type="text" id="title" name="title">
            </form>
        </div> {% endcomment %}

        <!-- <div id="features">
        </div> -->
        {% if titleInvalid is not None %}

        <div>
            Title Invalid!
        </div>

        {% endif %}

        <h2 id="m_name"></h2>
        <h3 id="link"></h3>

        {% if movieData is not None %}
            <form method="post" action="/feedback" id="feedbackForm">
            {% csrf_token %}
            <span>Would you like to watch this movie? </span>
            <label for="like">Yes: </label>
            <input name="likeChoice" id="like" type="radio" value="like" required>

            <label for"dislike">Not likely: </label>
            <input name="likeChoice" id="dislike" type="radio" value="dislike">

            <div class="box1">
                <h3>Because Director(s)</h3>
                <h3>Because Writer(s)</h3>
                <h3>Because Cast(s)</h3>
            </div>

            <div class="box">
                <div id="directors" class="container"></div>
                <div id="writers" class="container"></div>
                <div id="casts" class="container"></div>
            </div>

            <div class="box1">
                <h3>Because Genre(s)</h3>
                <h3>Because the Rating affects</h3>
                <h3>Because the Year affects</h3>
            </div>

            <div class="box">
                <div id="genres" class="container"></div>
                <div id="rating" class="container"></div>
                <div id="year" class="container"></div>
            </div>
            <script type="text/javascript">
                feature_box("directors_names","directors");
                feature_box("writers_names","writers");
                feature_box("cast_name","casts");
                feature_box("genres","genres");
                feature_boolean("rating");
                feature_boolean("year");
                movie_link();
                document.getElementById("m_name").innerHTML =
                    "Title of recommended movie: " + {{movieData|safe}}["primaryTitle"];
            </script>
            </form>
        {% endif %}


        <button type="submit" name="fetch" form="feedbackForm" value="Random">Random</button>
        <button type="submit" name="fetch" form="feedbackForm" value="Recommend">Recommend</button>
        {% if explanation is not None %}
            <h4>Explanation:<br><pre>{{explanation}}</pre></h4>
            <h4>Tree Structure:<br><pre>{{tree_structure}}</pre></h4>
        {% endif %}

    </body>
</html>
