<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <head>
        <style>
            .ui-autocomplete { height: 200px; width: 300px; overflow-y: scroll; overflow-x: scroll; }
            input { width: 300px; }
        </style>
        <meta charset="utf-8">
        <title>NetflixPrize3!</title>

        <!-- The following script defines parameters for the autocomplete -->
        <script type="text/javascript">
            var arr = {{ titles|safe }};
            $(function() {
                $("#title").autocomplete({
                    source: arr,
                    minLength: 4,
                    autoFocus: true,
                    classes: {
                        "ui-autocomplete": "highlight"
                    },
                });
            });
        </script>

        <!-- The following script is for submitting a title -->
        <!-- <script type="text/javascript">
        function post(){
            var title = document.getElementById("title").value;
            if(title){
                $.ajax
                ({
                    type: 'post',
                    url: 'fetchFeatures/',
                    data:
                    {
                        movie_title:title
                    },
                    success: function (response)
                    {
                        document.getElementById("features").innerHTML=directors
                    }
                })
            }
        }
        </script> -->

    </head>
    <body>
        <h1><center>Welcome to NetflixPrize3!</center></h1>
        <div class="ui-widget">
            <label for="search"> Search(Press 'Enter' to search) </label>
            <!-- onsubmit="return post();"  -->
            <form method="post" action="/fetchFeatures">
                {% csrf_token %}
                <input type="text" id="title" name="title">
            </form>
        </div>
        <!-- <div id="features">
        </div> -->
        {% if titleInvalid is not None %}

        <div>
            Title Invalid!
        </div>

        {% endif %}

        {% if movieData is not None %}

        <div>
            {{movieData}}
        </div>

        {% endif %}
    </body>
</html>
